asgiref==3.9.1
bcrypt==4.3.0
dj-database-url==3.0.1
Django==5.2.6
django-cors-headers==4.8.0
django-extensions==4.1
django-mssql-backend==2.8.1
django-storages==1.14.6
djangorestframework==3.16.1
boto3==1.40.61
gunicorn==23.0.0
mssql-django==1.6
packaging==25.0
psycopg2-binary==2.9.10
pyodbc==5.2.0
python-dotenv==1.1.1
pytz==2025.2
sqlparse==0.5.3
whitenoise==6.10.0
